.footer {
  height: 90px;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 28px 0 34px;
  background: #cce1f4;
  border-radius: 20px 20px 0px 0px;
}
.footer__content {
  margin: 0 auto;
  max-width: 1164px;
}
.footer__social {
  width: 180px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.social__item {
  position: relative;
  width: 28px;
  height: 28px;
}
/* .item__img {
  opacity: 1;
}
.item__img:hover {
  opacity: 0;
}
.item__img_hover {
  opacity: 0;
}
.item__img_hover:hover {
  opacity: 1;
} */
