* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  width: 800px;
}
.post {
  background-color: aquamarine;
  display: flex;
  padding: 15px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(91, 32, 32);
}
