.myInput {
  width: 100%;
  padding: 6px 9px;
  margin: 1px 0;
  border: 1px solid #ffe17e;
  border-radius: 5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b8b8b8;
}
.myInput:focus-visible {
  outline: 1px solid #ffac2f;
}
