.myBtn {
  padding: 17px 32px;
  gap: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  background-color: rgb(199, 82, 61);
  border-radius: 12px;
  border: transparent;
  cursor: pointer;
}
.myBtn_green {
  color: #ffffff;
  background: #4adf95;
}
.myBtn_red {
  color: #ffffff;
  background: #ff795f;
}
.myBtn_blue {
  color: #203351;
  background: #8de2f9;
}
.myBtn_green:hover {
  box-shadow: 3px 3px 0px #0b683a;
}
.myBtn_red:hover {
  box-shadow: 3px 3px 0px #621304;
}
.myBtn_blue:hover {
  box-shadow: 3px 3px 0px rgba(4, 62, 114, 0.8);
}
